[Unit]
Description=Script for crawling of livescore.com site

[Service]
Type=simple
User=marxin
Group=marxin
ExecStart=/home/marxin/livesport-crawler /var/www/html/sparta.json
Restart=on-failure

[Install]
WantedBy=default.target
